:root {
  --crl-green: hsl(75, 94%, 57%);
  --crl-white: hsl(0, 0%, 100%);
  --crl-grey-300: hsl(0, 0%, 20%);
  --crl-grey-400: hsl(0, 0%, 12%);
  --crl-grey-700: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* Typography */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}

body {
  background-color: var(--crl-grey-700);
  color: var(--crl-white);
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 0.875rem;
}

.bio {
  color: var(--crl-white);
  font-weight: 400;
}

/* Card */
.card {
  background-color: var(--crl-grey-400);
  border-radius: 0.75rem;
  display: grid;
  gap: 1.5rem;
  width: 20rem;
  padding: 1.5rem;
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.location {
  color: var(--crl-green);
  font-weight: 600;
  margin: 0.5rem 0 1.5rem 0;
}


.social-links {
  display: grid;
  gap: 1rem
}

.social-link {
  background-color: var(--crl-grey-300);
  color: var(--crl-white);
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;
  display: block;
  width: 100%;
}

.social-link:hover,
.social-link:focus-visible {
  background-color: var(--crl-green);
  color: var(--crl-grey-700);
}

/* Focus styles for accessibility */
.social-link:focus-visible {
  outline: 2px solid var(--crl-green);
  outline-offset: 2px;
}

@media screen and (min-width: 48em) {
  .card {
    width: 24rem;
    padding: 2.5rem;
  }
}